@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #999;
    margin: 0;
    padding: 0;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.container{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    height: 640px;
    width: 480px;
    padding-inline: 25px;
    border-radius: 25px;
    background: transparent;
    box-shadow: black 0 0 15px;
    overflow: hidden;
    backdrop-filter: blur(100px);
}

.signup,
.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 1.2rem;
}

.signup-with{
    display: flex;
    gap: 40px;
    margin-top: 10px;
}
.signup-with a{
    text-align: center;
    cursor: pointer;
}
.signup-with a p{
    margin-top: 5px;
    font-weight: 500;
}

.signup{
    position: absolute;
    right: 50%;
    transform: translate(50%);
    transition: all 1.5s ease;
}

.login{
    position: absolute;
    left: 200%;
    transform: translate(-50%);
    transition: all 1.5s ease;
}
.login a{
    font-size: .7em;
    padding-left: 5px;
    text-decoration: none;
}

form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: calc(440px - 50px);
}
form label{
    font-weight: 500;
    margin-top: 10px;
}
form input{
    height: 2.3rem;
    border: none;
    border-radius: 5px;
    padding-left: 5px;
    outline: 2px solid #666;
    background: transparent;
}

.btn{
    height: 2em;
    font-size: 1.3rem;
    font-weight: 600;
    margin-top: 18px;
    background: transparent;
    box-shadow: 0 0 10px #444;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.4s ease;
}
.btn:hover{
    scale: 1.04;
}

.login-btn,
.signup-btn{
    font-size: 1rem;
    text-align: center;
    margin-top: 20px;
}
.login-btn span,
.signup-btn span{
    color: red;
    cursor: pointer;
}